.forget-page-div {
  background-image: url("./background.png");
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forget-page-div > h1,
.forget-page-div > div,
.forget-page-div > button {
  margin-top: 5%;
}

.forget-page-div h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 50px;
  color: rgb(252, 252, 248);
}

.forget-page-div div {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  height: 3rem;
}

.forget-page-div div h3 {
  color: rgb(252, 252, 248);
  font-size: 2.5rem;
}

.forget-page-div div input {
  font-size: 1.5rem;
  padding-left: 10px;
  margin-left: 1rem;
  width: 75%;
}

button {
  height: 3rem;
  font-size: 1.5rem;
  background: linear-gradient(#e66465, #9198e5);
  color: rgb(252, 252, 248);
  transition: 0.5s ease-in-out;
}

button:hover {
  height: 3.25rem;
  font-size: 1.75rem;
}
