#e3{
  position: absolute;
  width:12%;
  height: 10%;
  left:11.8%;
  top: 30%;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 300%;
  line-height: 40px;
    color: rgb(252, 252, 248);
}
#enterEmail{
  position: absolute;
  width:15%;
  height: 5%;
  left:22%;
  top: 31%;
}
#ResetButton{
  position: absolute;
  width:12%;
  height: 6%;
  left:11.8%;
  top: 47%;
}