/* Pages CSS */
* {
  box-sizing: border-box;
}
.page-title {
  position: absolute;
  width: 1000px;
  height: 100px;
  left: 175px;
  top: 10%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 50px;
  color: rgb(252, 252, 248);
}

.intro-button {
  font-family: "Inter";
  font-style: normal;
  font-size: medium;
  color: rgb(252, 252, 248);
  background: rgba(217, 217, 217, 0.5);
}

.intro-form {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  width: 50%;

  color: #ffffff;
}

.intro-input {
  background-color: rgb(210, 214, 243);
  font-size: 50%;
  height: 10%;
  top: 10%;
}
.AppComponent h2 {
  position: absolute;
  width: 750px;
  height: 40px;
  left: 179px;
  top: 175px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 10px;
  color: rgb(252, 252, 248);
}

.AppComponent h3 {
  position: absolute;
  width: 300px;
  height: 40px;
  left: 180px;
  top: 250px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  color: rgb(252, 252, 248);
}

#signup {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 175px;
  top: 496px;
}
#signin {
  position: absolute;
  width: 150px;
  height: 50px;
  left: 410px;
  top: 496px;
}
#forgetP {
  position: absolute;
  width: 150px;
  height: 50px;
  left: 50%;
  top: 496px;
}

/* Sign Up CSS */
#App_name {
  position: absolute;
  width: 1000px;
  height: 125px;
  left: 175px;
  top: 40px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 106px;

  color: #ffffff;
}
#Already_User {
  position: absolute;
  width: 12%;
  height: 10%;
  left: 26%;
  top: 65%;
}
#loginForm {
  position: absolute;
  width: 30%;
  height: 30%;
  left: 12%;
  top: 25%;

  line-height: 150%;
}
#submitSignclick {
  position: absolute;
  width: 32%;
  height: 34%;
  left: 0%;
  top: 133%;
}
#warning {
  position: absolute;
  width: 50%;
  height: 34%;
  left: 0%;
  top: 100%;

  font-size: medium;

  color: red;
}

/* Forget Password CSS */
#e3 {
  position: absolute;
  width: 12%;
  height: 10%;
  left: 11.8%;
  top: 30%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 300%;
  line-height: 40px;
  color: rgb(252, 252, 248);
}
#enterEmail {
  position: absolute;
  width: 15%;
  height: 5%;
  left: 22%;
  top: 31%;
}
#ResetButton {
  position: absolute;
  width: 12%;
  height: 6%;
  left: 11.8%;
  top: 47%;
}

/* Home Page */

#profile_page {
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
}
#block2 {
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: end;
}
#block3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Task Manager*/
#task_manager_container {
  background-color: #e0f4fd;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  height: 95%;
}

#task_manager {
  width: 24rem;
  display: grid;
  justify-content: center;
  overflow-y: auto;
  max-height: 90%;
}

.task {
  width: 16rem;
  border: 3px solid black;
  border-radius: 0.75rem;
  background-color: #66ffff;
  margin-bottom: 1.75rem;
  padding: 1rem;
  text-align: center;
  overflow-wrap: break-word;
}

.task h1 {
  margin-bottom: 1rem;
}

.main-task {
  width: 45rem;
  position: absolute;
  display: block;
  margin-top: 1rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-task h1 {
  font-size: 32px;
}

.main-task p {
  margin-bottom: 1rem;
}

.due_label {
  text-decoration: underline;
  color: forestgreen;
}

#add-task-container {
  width: fit-content;
  padding: 1rem;
}

#NewTaskBtn {
  background-color: transparent;
  border-color: transparent;
  margin-top: 1rem;
}

#NewTaskBtn:hover {
  cursor: pointer;
}

#modal_overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 50;
}

#modal_wrapper {
  position: relative;
  width: 70%;
  height: 90%;
  background-color: #66ffff;
}

#task-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ender {
  margin-bottom: 1rem;
}

/* BLOCK 2 */

#block2 {
  display: grid;
  grid-template-rows: 2fr 4fr;
}

#calendar-container {
  width: 100%;
  height: 100%;
}

#modal_overlay {
  z-index: 50;
}

/* Adjust the overall size of the calendar */
.react-calendar {
  width: 95%; /* Adjust as needed */
  height: 95%;
  max-width: 100%;
  background: rgb(239, 135, 232);
  border: 1px solid #a0a095;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin-left: auto;
  margin-right: auto;
}

/* Adjust the individual tile (day) size */
.react-calendar__tile {
  max-width: 10%; /* Adjust as needed */
  max-height: 10%;
}

/* Highlight the current day */
.react-calendar__tile--now {
  background: rgb(24, 118, 155); /* Change to your desired color */
}

.highlight-date {
  background-color: red;
  color: black; /* Adjust text color if needed */
}
.allFinishedB4 {
  background-color: green;
  color: black;
}
.allFailB4 {
  background-color: brown;
  color: black;
}
.someFinishedB4 {
  background-color: rgb(172, 220, 39);
  color: black;
}
.allFinishedToday {
  background-color: rgb(8, 141, 112);
  color: black;
}
.allFailToday {
  background-color: rgb(21, 54, 54);
  color: black;
}
.someFinishedToday {
  background-color: rgb(45, 122, 106);
  color: black;
}
.allFinishedAfter {
  background-color: rgb(232, 78, 224);
  color: black;
}
.allFailAfter {
  background-color: rgb(66, 8, 59);
  color: black;
}
.someFinishedAfter {
  background-color: rgb(141, 100, 141);
  color: black;
}
#task_Modal {
  background-color: yellow;
}

#block1 {
  display: grid;
}

#graphContainer {
  width: 25%;
  background-color: #66ffff;
}
